.card-img{
    height: 315px;
}

.card-name{
    border-right: 1px solid #EAF0ED;
}

.item-tag{
    background-color: #3F5D45;
    letter-spacing: 5px;
    height: 106.73px;
}

.img-cart{
    height: 110px;
    width: 110px;
}

.card-main{
    border-top: 1px solid #EAF0ED;
}