.list-group{
    .list-group-item:hover,.active{
        background-color: #EAF0ED;
        color: #3F5D45;
        border: none;
        text-decoration: none;
        text-decoration: none;
    }
}

.list-group-item-menu{
    text-decoration: none;
    color: #3F5D45;
}

        