.section1{
    /* height: 279.97px; */
    line-height: 2.5;
    
}
        
.section{
    .sectionimg{
        min-height: 250px;
        @include media-breakpoint-down(md){
            margin-left: -15px;
            margin-right: -15px;
        }
    }
    .breakverticalblock{
        @include media-breakpoint-up(md){
        margin-top: -24px;
        margin-bottom: -24px;
        }
    }
    .vertical-content{
        max-height: 420px;
        line-height: 2;
        @include media-breakpoint-up(md){
            line-height: 2.5;
        }
    }
}



// .title-v{
//     @media(max-width: 993px){
//         margin-left: -30px;
//     }
// }





.list-border{
    @media(max-width: 768px){
        border-bottom: 1px solid #EAF0ED; 
    }
}

.order-summary{
    @media(min-width: 768px){
        color: white; 
        background-color: #3F5D45;
    }
    @media(max-width: 767px){
        color: #3F5D45;
    }
}
