.step{
            width: 20px;
            height: 20px;
            border-radius: 99em;
            border:1px solid #EAF0ED;
            position: absolute;
            top: -10px;
            z-index: 1;
            background-color: #3F5D45;
        }

.activecircle{
            width: 14px;
            height: 14px;
            border-radius: 99em;
            position: relative;
            top: 2px;
            left: 1.5px;
            
            z-index: 2;
            background-color: #EAF0ED;
        }
.check{
    position: relative;
    bottom: 3.5px;
}